/*
This file is (C) Captain ALM
Under the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
*/
@media (min-width: 680px){
    .hmb{
        display: none;
    }
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: auto;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
    }
}