.nav-menu{
    display: none;
}
.nav-menu:checked ~ #nav, .nav-open{
    max-height: 100%;
}
.nav-menu:checked ~ .hmb .hmb-line, .nav-open-hmb .hmb-line{
    background: transparent;
}
.nav-menu:checked ~ .hmb .hmb-line::before, .nav-open-hmb .hmb-line::before{
    transform: rotate(-45deg);
    top:0;
}
.nav-menu:checked ~ .hmb .hmb-line::after, .nav-open-hmb .hmb-line::after{
    transform: rotate(45deg);
    top:0;
}
.hmb{
    cursor: pointer;
    float: right;
    background-color: transparent;
    padding: 32px 20px;
}
.hmb-line{
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hmb-line::before, .hmb-line::after{
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-out;
    width: 100%;
}
.hmb-line::before{
    top: 5px;
}
.hmb-line::after{
    top: -5px;
}
.nav{
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 0;
}
.vnav{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: auto;
    height: 100%;
    overflow: hidden;
}
.menu a, .vmenu a, .emenu a{
    display: block;
}
.menu a, .vmenu a, .emenu a, #st{
    padding: 24px 16px;
    font-weight: bold;
}
.vmenu li{
    float: left;
}
.vmenu a:hover{
    background-color: transparent;
}