<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>City University Portfolio</title>
    <link rel="stylesheet" href="{{ .Data.CSSBaseURL }}"/>
    {{ if .Light }}
    <link rel="stylesheet" href="{{ .Data.CSSLightURL }}"/>
    {{ else }}
    <link rel="stylesheet" href="{{ .Data.CSSDarkURL }}"/>
    {{ end }}
    <script src="{{ .Data.JScriptURL }}"></script>
</head>
<body>
<header class="header">
    <a href="?" class="home-button no-dec"><b>&#8962;</b></a>
    <input class="nav-menu" type="checkbox" id="nav-menu"/>
    <label class="hmb" for="nav-menu"><span class="hmb-line"></span></label>
    <nav class="nav">
        <ul class="menu no-lst-style">
            {{ range .Data.GetHeaderLabels }}
            <li><b><a href="{{ $.Data.GetHeaderLink . }}" class="no-dec">{{ . }}</a></b></li>
            {{ end }}
        </ul>
    </nav>
</header>
<main class="main-table">
    <div>
        <div>
            <div>
                <div class="item-table">
                    <div>
                        <div class="item-table-half">
                            <div><h1>{{ .Data.About.Title }}</h1></div>
                        </div>
                        <div class="item-table-half">
                            <div><h1>Email: <a href="mailto:{{ .Data.About.ContactEmail }}">{{ .Data.About.ContactEmail }}</a></h1></div>
                        </div>
                    </div>
                    <div>
                        <div class="item-table-full">
                            <div>{{ .Data.About.GetContent }}</div>
                        </div>
                        <div class="item-table-240">
                            <div><a href="{{ .Data.About.ImageLocation }}"><img src="{{ .Data.About.ThumbnailLocation }}" alt="Image of Me." width="240px"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>