<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>City University Portfolio</title>
    <link rel="stylesheet" href="{{ .Data.CSSBaseURL }}"/>
    {{ if .Light }}
    <link rel="stylesheet" href="{{ .Data.CSSLightURL }}"/>
    {{ else }}
    <link rel="stylesheet" href="{{ .Data.CSSDarkURL }}"/>
    {{ end }}
    <script src="{{ .Data.JScriptURL }}"></script>
</head>
<body>
<header class="header">
    <a href="?" class="home-button no-dec"><b>&#8962;</b></a>
    <input class="nav-menu" type="checkbox" id="nav-menu"/>
    <label class="hmb" for="nav-menu"><span class="hmb-line"></span></label>
    <nav class="nav">
        <ul class="menu no-lst-style">
            {{ range .Data.GetHeaderLabels }}
            <li><b><a href="{{ $.Data.GetHeaderLink . }}" class="no-dec">{{ . }}</a></b></li>
            {{ end }}
        </ul>
    </nav>
</header>
<main class="main-table">
    <div>
        <div>
            <div>
                <div class="item-table">
                    <div>
                        <div class="item-table-full">
                            <div class="centered padded-2px"><h1>{{ .Data.About.Title }}</h1></div>
                        </div>
                        <div class="item-table-360">
                            <div class="centered padded-2px"><h4>Email: <a href="mailto:{{ .Data.About.ContactEmail }}">{{ .Data.About.ContactEmail }}</a></h4></div>
                        </div>
                    </div>
                    <div>
                        <div class="item-table-full">
                            <div class="padded-2px">{{ .Data.About.GetContent }}</div>
                        </div>
                        <div class="item-table-360">
                            <div><a href="{{ .Data.About.ImageLocation }}"><img src="{{ .Data.About.ThumbnailLocation }}" alt="Image of Me." width="360px"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ range .Data.Entries }}
    <div>
        <div>
            <div>
                <div class="item-table">
                    <div>
                        <div class="item-table-full">
                            <div class="centered padded-2px"><h1>{{ .Name }}</h1></div>
                        </div>
                        <div class="item-table-360">
                            {{ if eq .GetStartDate .GetEndDate }}
                            <div class="centered padded-2px"><h4>{{ .GetStartDate }}</h4></div>
                            {{ else }}
                            <div class="centered padded-2px"><h4>{{ .GetStartDate }} - {{ .GetEndDate }}</h4></div>
                            {{ end }}
                        </div>
                    </div>
                    <div>
                        <div class="item-table-full">
                            <div class="padded-2px">{{ .GetContent }}</div>
                        </div>
                        <div class="item-table-360">
                            <div><video controls="" width="360">
                                <source src="{{ .VideoLocation }}" type="{{ .VideoContentType }}">
                            </video></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ if not (eq .GetImageCount 0) }}
    <div>
        <div>
            <div class="image-box">
                {{ range .GetImages }}
                <a href="{{ .ImageLocation }}"><img src="{{ .ThumbnailLocation }}" width="144"></a>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
</main>
</body>
</html>