/*
This file is (C) Captain ALM
Under the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
*/
body{
    color: #060606;
    background-color: #fafaf9;
    border-color: #969696;
}
a{
    color: #4f4fff;
}
.header, .nav, footer, .so-pane{
    background-color: #e2e2e1;
}
.home-button > div, .sort-button > div, .menu a, .so-pane > form > div > * > *{
    color: #1f1f1f;
}
.home-button:hover, .menu a:hover, .hmb:hover, .sort-button:hover, .sort-menu:checked ~ .sort-button, .sort-button-active, .so-pane > form > div > span > input, .so-pane > form > div > div > select{
    background-color: #9f9f9e;
}
.hmb-line, .hmb-line::before, .hmb-line::after{
    background: #1f1f1f;
}
.main-box{
    background-color: #f0f0f0;
}
.item-table{
    background-color: #c0c0c0;
    border-color: #0a214c;
}
.so-pane, .header{
    border-color: #c0c0c0;
}
.image-box, .item-heading{
    background-color: #b0b0b0;
}
.image-box > a{
    border-color: #4f4f0f;
}